[Desktop Entry]
Name=TUTODECODE
Exec=tutodecode
Icon=tutodecode
Type=Application
Categories=Education;Development;
Comment=Apprentissage IT et Laboratoire de Sécurité Locale
Terminal=false
